html:template(id="tpl-select-field")
	<style>
		figure {
			margin: 0;
		}
	</style>
	figure
		slot(name="picture")
		figcaption
			slot
			h4
				slot(name="label")
			div
				slot(name="description")