style(
	title="Shadow Dom Layout"
	type="text/css"
).
	:host(:state(--defined)),
	:host::part(container) {
		display: block;
	}
	
	:host([aria-hidden='true'])::part(container) {
		visibility: hidden;
	}
	
style(
	title="Scrollbars"
	type="text/css"
).
	:host(:state(--scrolled))::part(container) {
		overflow: auto;
		scroll-behavior: smooth;
		scroll-snap-stop: always;
	}

	:host([aria-orientation='vertical']:state(--scrolled))::part(container) {
		overflow: hidden scroll;
	}

	:host([aria-orientation='horizontal']:state(--scrolled))::part(container) {
		overflow: scroll hidden;
	}
	
	:host([aria-hidden='true'])::part(container) {
		overflow: hidden;
	}

slot(part="container")