style(type="text/css").
	:host::part(container) {
		display: block;
		overflow: hidden;
	}
	
	:host([aria-hidden='true'])::part(container) {
		visibility: hidden;
	}
	
	:host(:not([aria-hidden='true']):state(--scrolled))::part(container) {
		scroll-behavior: smooth;
		scroll-snap-stop: always;
		overflow: visible;
	}

	:host([aria-orientation='vertical']:not([aria-hidden='true']):state(--scrolled))::part(container) {
		overflow: hidden scroll;
	}

	:host([aria-orientation='horizontal']:not([aria-hidden='true']):state(--scrolled))::part(container) {
		overflow: scroll hidden;
	}

slot(part="container")